@charset "utf-8";
/* A default style sheet until we come up with a better one */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
  	font-family: 'Montserrat', sans-serif;
}

h1
{
   
  background-image: linear-gradient(
    -225deg,
    #6AB155 0%,
    #A0E989 29%,
    #BDFFA4 67%,
    #FFFFFF 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#button1 a {
  position: relative;
  transition: all .85s ease-Out;
}

h1{
	font-size: 12vw;
}
h2{
	font-size: 2vw;
}
h3{
	font-size: 5vw;
}
h4{
	font-size: 3vw;
}
h5{
	font-weight:400;
	font-size:2vw;
}
p{
	font-size: 2vw;
}

button{
  	padding: 8px;
  	/*width: 100px;*/
  	border: 2px solid white;
  	background-color: transparent;
  	color: white;
  	cursor: pointer;
  	border-radius: 5px;
  	transition: 0.3s ease-out;
}

#p{
	color:black
}

#n{
	color:black
}

button:hover{
  	transform: scale(1.05);
}

input{
	padding: 6px;
	border: 2px solid black;
}

.container{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.pages {
  	display: flex;
	width: 900%; 
	box-sizing: border-box;
}

.page {
  	width: 100%;
  	height: 100vh;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	gap: 10px;
	transition: all 0.0s;
	color: white;
}

.one{
  	background: #0b6623;
}

.two{
  	background: #064E42;
}

.three{
  	background: #4A2619;
}

.four{
  	background: #16720F;
}

.five{
  	background: #CF9817;
}

.six{
	background: #6E3B2E; 
}

.seven{
	background: #D75F30;
}

.eight{
	background: #dda15e;
}

.nine{
    background: #dda15e;
}
#p4chatGroup{
	align-self: end;
	position: fixed;
	top: 90vh;
}

#p4games{
	height: 25%;
	width: 10%;
}

#p6subtitle{
	width: 80%;
}

#p6playerOrder{
	position:fixed;
	top: 0vh;
}

#p4roomDisplay{
    position: fixed;
    top: 20vh;
}

#p4leaveRoom{
    position: fixed;
    top: 10vh;
    right: 180vh;
    align-self: end;
    
}

#p2backToTitle{
    position: fixed;
    top: 10vh;
    right: 190vh;
    align-self: end;
}

#p3backToName{
    position: fixed;
    top: 10vh;
    right: 180vh;
}

#p5BackToGameSelect{
    position: fixed;
    top: 10vh;
    right: 190vh;
}

#p7BackToGameSelect{
    position: fixed;
    top: 10vh;
    right: 190vh;
}

#p6BackToGameSelect{
    position: fixed;
    top: 10vh;
    right: 190vh;
    
}

#p8header{
	position: fixed;
	top: 5vh;
}

#p8drawingPad{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
}

#p8displayTop{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -210px;
}

#p8displayBottom{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: 110px;
}

#p8displayLeft{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -100px;
}

#p8displayRight{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: 110px;
	margin-top: -100px;
}

#p8title{
	position: fixed;
	top: 5%;
}

#p8endGameReq{
	position: fixed;
	top: 5%;
	left: 5%;
}

#p8colors{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: 220px;
	margin-left: -80px;
}

#p8widthSlider{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: 245px;
	margin-left: -85px;
}

#p8drawTimer{
	position: fixed;
	bottom: 50%;
	right: 50%;
	margin-bottom: 111px;
	margin-right: 111px;
}